<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!-- Error Log. version 1.1 -->
  <configSections>
    <sectionGroup name="LoggingConfingration">
      <section name="Settings" type="IOM.Common.Logging.ErrorLogConf" allowLocation="true" allowDefinition="Everywhere" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <!-- Error Log. -->
  <system.web>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" />
    </httpHandlers>
    <globalization culture="en-GB" uiCulture="en-GB" />
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.ReportViewer.WinForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Net.Http, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
        <add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider" />
      </buildProviders>
    </compilation>
    <httpRuntime targetFramework="4.5" />
    <authentication mode="Forms">
      <forms loginUrl="Login.aspx" timeout="2" slidingExpiration="true" path="/" protection="All" />
    </authentication>
  </system.web>
  <appSettings>
    <add key="ODataServiceURL" value="https://gvaprismdev12.iom.int:50001/sap/opu/odata/sap/ZCA_MASTER_DATA_SRV/" />
    <add key="ODataServiceUserName" value="SSAPP01" />
    <add key="ODataServicePassword" value="Supp0rt4$ud@n" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="ApplicationName" value="ETAS | 1.0 " />
    <add key="application.root" value="/TASS" />
    <add key="application.rootOut" value="/TASS" />
    <add key="SessionTimeoutInMinutes" value="2" />
    <add key="SMTPServer" value="AMMEXMBX02.as.iom.net" />
    <add key="SMTPEmail" value="No-reply-REFINFO@iom.int" />
    <add key="SMTPDomain" value="AS" />
    <add key="SMTPUser" value="No-reply-REFINFO" />
    <add key="SMTPPassword" value="welcome@123" />
    <add key="ADPath" value="LDAP://iom.int/DC=iom,Dc=int" />
    <add key="Domain" value="iomint" />
    <add key="ADPathAS" value="LDAP://as.iom.net/DC=as,DC=iom,DC=net" />
    <add key="DomainAS" value="as" />
    <add key="ReportServerPath" value="http://jubw10jjlokiri/ReportServer" />
    <add key="ReportsPath" value="/eTASSReports" />
    <add key="ProjectID" value="c85f8bfe-070a-4ea2-9f59-7e9e56ea265e" />
    <add key="PRISMMissionCode" value="SS10" />
    <add key="ExchangeRate" value="1.000" />
    <add key="ApplicationPath" value="/TASS" />
    <add key="HRandFinanceEmailAddresses" value="jjlokiri@iom.int" />
    <add key="SMTP_Domain" value="int" />
    <add key="SMTP_Account" value="sstass@iom.int" />
    <add key="SMTP_User" value="sstass" />
    <add key="SMTP_Host" value="172.30.100.148" />
    <add key="SMTP_Password" value="Champion@2020" />
  </appSettings>
  <connectionStrings>
    <add name="TravelAuthorizationSystemConnectionString" connectionString="Data Source=jubw10jjlokiri;Initial Catalog=TravelAuthorizationSystem;User ID=sa; Password=P@55w0rd!;" providerName="System.Data.SqlClient" />
    <add name="ActiveDirectoryUsersConnectionString" connectionString="Data Source=jubw10jjlokiri;Initial Catalog=ActiveDirectoryUsers;User ID=sa; Password=P@55w0rd!;" providerName="System.Data.SqlClient" />
    <add name="IMtoolsConnectionString" connectionString="Data Source=jubw10jjlokiri;Initial Catalog=IMTools;User ID=sa;Password=P@55w0rd!;" providerName="System.Data.SqlClient" />
    <add name="AMSConnectionString" connectionString="Data Source=jubw10jjlokiri;Initial Catalog=IMTools-Branch;User ID=sa;Password=P@55w0rd!;" providerName="System.Data.SqlClient" />
    <add name="TravelAuthorizationMediaConnectionString" connectionString="Data Source=jubw10jjlokiri;Initial Catalog=TravelAuthorizationSystemMedia;User ID=sa; Password=P@55w0rd!;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <LoggingConfingration>
    <Settings>
      <SQL level="Info" severity="All" connectionName="IMtoolsConnectionString" />
    </Settings>
  </LoggingConfingration>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    <remove name="ExtensionlessUrlHandler-Integrated-4.0" /><remove name="OPTIONSVerbHandler" /><remove name="TRACEVerbHandler" /><add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" /></handlers>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  
</configuration>