<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!-- Error Log. version 1.1 -->
  <configSections>
    <sectionGroup name="LoggingConfingration">
      <section name="Settings" type="IOM.Common.Logging.ErrorLogConf" allowLocation="true" allowDefinition="Everywhere"/>
    </sectionGroup>
  </configSections>
  <!-- Error Log. -->
  <system.web>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false"/>
    </httpHandlers>
    <globalization culture="en-GB" uiCulture="en-GB"/>
    <compilation targetFramework="4.5">
      <assemblies>
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <!--<add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>-->
        <add assembly="Microsoft.ReportViewer.WinForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
      </buildProviders>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
    <authentication mode="Forms">
      <forms loginUrl="Login.aspx" timeout="2" slidingExpiration="true" path="/" protection="All"/>
    </authentication>
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <add key="ApplicationName" value="Travel Authorization System| "/>
    <add key="application.root" value="/TAS"/>
    <add key="SessionTimeoutInMinutes" value="2"/>
    <add key="SMTPServer" value="AMMEXMBX02.as.iom.net"/>
    <add key="SMTPEmail" value="No-reply-REFINFO@iom.int"/>
    <add key="SMTPDomain" value="AS"/>
    <add key="SMTPUser" value="No-reply-REFINFO"/>
    <add key="SMTPPassword" value="welcome@123"/>
    <add key="ADPath" value="LDAP://iom.int/DC=iom,Dc=int"/>
    <add key="Domain" value="iomint"/>
    <add key="ADPathAS" value="LDAP://as.iom.net/DC=as,DC=iom,DC=net"/>
    <add key="DomainAS" value="as"/>
    <add key="ReportServerPath" value="http://jubw2k12srv12/ReportServer"/>
    <add key="ReportsPath" value="/TA Reports"/>
    <add key="ProjectID" value="ac65b178-d936-4053-860f-6f8ed0acadc9"/>
    <add key="PRISMMissionCode" value="JO10"/>
    <add key="ExchangeRate" value="0.708"/>
    <add key="ApplicationPath" value="\\AMMDEVSVR01\VLSImportSched\"/>
    <!--<add key="HRandFinanceEmailAddresses" value="abaqain@iom.int;arababa@iom.int;baburumman@iom.int;mbanihathel@iom.int;"/>-->
    <add key="HRandFinanceEmailAddresses" value="aabokhashabe@iom.int ;msiam@iom.int"/>
  </appSettings>
  <connectionStrings>
    <add name="TravelAuthorizationSystemConnectionString" connectionString="Data Source=JUBW2K12SRV12;Initial Catalog=TravelAuthorizationSystem;User ID=TASS; Password=TASS@cc3$$;" providerName="System.Data.SqlClient"/>
    <add name="ActiveDirectoryUsersConnectionString" connectionString="Data Source=JUBW2K12SRV12;Initial Catalog=ActiveDirectoryUsers;User ID=TASS; Password=TASS@cc3$$;" providerName="System.Data.SqlClient"/>
    <add name="IMtoolsConnectionString" connectionString="Data Source=JUBW2K12SRV12;Initial Catalog=IMTools;User ID=TASS;Password=TASS@cc3$$;" providerName="System.Data.SqlClient"/>
    <add name="TravelAuthorizationMediaConnectionString" connectionString="Data Source=JUBW2K12SRV12;Initial Catalog=TravelAuthorizationSystemMedia;User ID=TASS; Password=TASS@cc3$$;" providerName="System.Data.SqlClient"/>
    <!--<add name="TravelAuthorizationSystemConnectionString" connectionString="Data Source=AMMSTGDB\STG;Initial Catalog=TravelAuthorizationSystem;User ID=TAS_STG; Password=TASSTG@cc3$$;" providerName="System.Data.SqlClient" />
    <add name="ActiveDirectoryUsersConnectionString" connectionString="Data Source=AMMSTGDB\STG;Initial Catalog=ActiveDirectoryUsers;User ID=TAS_STG; Password=TASSTG@cc3$$;" providerName="System.Data.SqlClient" />
    <add name="IMtoolsConnectionString" connectionString="Data Source=AMMSTGDB\STG;Initial Catalog=IMTools;User ID=TAS_STG;Password=TASSTG@cc3$$;" providerName="System.Data.SqlClient" />
    <add name="TravelAuthorizationMediaConnectionString" connectionString="Data Source=AMMSTGDB\STG;Initial Catalog=TravelAuthorizationSystemMedia;User ID=TAS_STG; Password=TASSTG@cc3$$;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="TravelAuthorizationSystemConnectionString" connectionString="Data Source=AMMDEVSVR;Initial Catalog=TravelAuthorization;User ID=sa; Password=p@ssw0rd;" providerName="System.Data.SqlClient"/>
    <add name="TravelAuthorizationMediaConnectionString" connectionString="Data Source=AMMDEVSVR;Initial Catalog=TravelAuthorizationMedia;User ID=sa; Password=p@ssw0rd;" providerName="System.Data.SqlClient"/>
    <add name="ActiveDirectoryUsersConnectionString" connectionString="Data Source=AMMDEVSVR;Initial Catalog=ActiveDirectoryUsers;User ID=sa; Password=p@ssw0rd;" providerName="System.Data.SqlClient"/>
    <add name="IMtoolsConnectionString" connectionString="Data Source=AMMDEVSVR;Initial Catalog=IMTools;User ID=sa;Password=p@ssw0rd;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="TravelAuthorizationSystemConnectionString" connectionString="Data Source=AMMDEVSVR\BCP;Initial Catalog=TravelAuthorization;User ID=TAS_Dev; Password=p@ssw0rd;" providerName="System.Data.SqlClient" />
    <add name="ActiveDirectoryUsersConnectionString" connectionString="Data Source=AMMDEVSVR\BCP;Initial Catalog=ActiveDirectoryUsers;User ID=TAS_Dev; Password=p@ssw0rd;" providerName="System.Data.SqlClient" />
    <add name="IMtoolsConnectionString" connectionString="Data Source=AMMDEVSVR\BCP;Initial Catalog=IMTools;User ID=TAS_Dev;Password=p@ssw0rd;" providerName="System.Data.SqlClient" />
    <add name="TravelAuthorizationMediaConnectionString" connectionString="Data Source=AMMDEVSVR\BCP;Initial Catalog=TravelAuthorizationMedia;User ID=TAS_Dev; Password=p@ssw0rd;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <LoggingConfingration>
    <Settings>
      <SQL level="Info" severity="All" connectionName="IMtoolsConnectionString"/>
    </Settings>
  </LoggingConfingration>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
    </handlers>
  </system.webServer>
</configuration>